@import '../../global.scss';


.Controls {

    padding: .7rem;
    margin-right:0;
    
    #price-alerts {
	text-align:right;

	i {
	    margin-right:.2em;
	}
    }

    #price-alerts, a {
	color:$skyscanner-blue;
    }
}
